<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="post" action="/notice/add">
  <div>title:</div><input type="text" name="title" />
  <div>content:</div><textarea name="content" ></textarea>
  <input type="submit" name="submit" />
</form>
</body>
</html>