<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="post" action="/notice/deleteSafe">
  <div>id:</div><input type="text" name="id" />
  <input type="submit" name="submit" />
</form>
</body>
</html>