<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div>
    Login Success
    <form method="get" action="/RunL">
      <input type="submit" name="submit" />
    </form>
  </div>
</body>
</html>