<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="post" action="/notice/search">
  <input type="text" name="idx" />
  <input type="submit" name="submit" />
</form>
</body>
</html>